.login__input {
  background: none;
  border: none;
  outline: none;
  border-bottom: 2px solid #CCCCCC;
  width: 358px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #CCCCCC;
  padding-bottom: 7px;
}

.login__input:first-of-type {
  margin-bottom: 30px;
}